.card {
  margin: 1rem;
  font-size: calc(5px + 2vmin);
  display: flex;
}
.info {
  display: inline-block;
  margin: left 12px;
  font-size: calc(5px + 2vmin);
}
img {
  width: 200px;
  height: 200px;
  flex-direction: row;
  padding: 10px;
}
.header {
  font-size: calc(15px + 2vmin);
  font-weight: bold;
  padding: 2vh;
  display: flex;
}

.app {
  background-color: #c27ba0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Colors that look pretty together - Source: https://www.color-hex.com/color-palette/1019851
    BLUE   #76a5af	(118,165,175)
    GREEN  #93c47d	(147,196,125)
    YELLOW #ffe599	(255,229,153)
    PINK   #c27ba0	(194,123,160)
    RED    #e06666	(224,102,102) 
*/
