/* I love CSS, so all of this custom CSS here (and in-line CSS) 
      is what I have created for the website, 
      although I did take the color template from another website which is linked below!:)

   Colors that look pretty together - Source: https://www.color-hex.com/color-palette/1019851
    BLUE   #76a5af	(118,165,175)
    GREEN  #93c47d	(147,196,125)
    YELLOW #ffe599	(255,229,153)
    PINK   #c27ba0	(194,123,160)
    RED    #e06666	(224,102,102) 
*/

.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
